.container {
    margin: 0 auto 0 auto;
    width: 30vw;
}

.title {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 5px solid gold;
    margin-bottom: 10px;
    font-weight: bolder;
    width: 100%;
    font-size: 1.5rem;
}

.rank {
    display: flex;
    font-size: 1.5rem;
    border: 1.5px solid rgb(204, 204, 204);
    border-radius: 16px;
    color:white;
    background-color: rgba(0, 0, 0, 0.65);
    margin-bottom: 3px;
}

.index, .headerIndex {
    width: 30%;
}

.name, .headerName{
    width: 40%;
}

.record, .headerRecord {
    width: 30%;
}

.index, .name, .record, 
.headerIndex, .headerName, .headerRecord { 
    align-self: center;
    padding: 6px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100vw;
    }

    .rank, .header {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 3000px) {
    .container {
        width: 15vw;
    }
}